<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Cardstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class = "CardContainer" 
         style = 'height: <%= height %>; min-width: <%= width %>'>
        <div class = 'CardHeader'>
            <div class = 'CardHeaderInformation'>
                <div>
                    <p class = 'Raiting' style = 'margin: 1%' ><%= locals.Card?.Rating %></p>
                    <p class = 'Position' style = 'margin: 1%' ><%= locals.Card?.Position %></p>
                </div>
            </div>
        </div>

        <div class = 'CardBody'>
            <div class = 'PlayerName'><%= locals.Card.PlayerName %></div>
            <div class = 'CardStatContainer'>
                <div style = 'flex-direction: column;'>
                    <p class = 'Pac Stats'><%= locals.Card.Stats[0]?.Pac %> Pac</p>
                    <p class = 'Sho Stats'><%= locals.Card.Stats[0]?.Sho %> Sho</p>
                    <p class = 'Pas Stats'><%= locals.Card.Stats[0]?.Pas %> Pas</p>
                </div>
                <div style = 'flex-direction: column;'>
                    <p class = 'Dri Stats'><%= locals.Card.Stats[0]?.Dri %> Dri</p>
                    <p class = 'Def Stats'><%= locals.Card.Stats[0]?.Def %> Def</p>
                    <p class = 'Phy Stats'><%= locals.Card.Stats[0]?.Phy %> Phy</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>