<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/Sidebar.css">
    <title>Document</title>
</head>
<body>
    <div class = 'Sidebar'>
        <a href="/<%=locals.id%>/match" class = 'SidebarOptions'>
            <input type="image" src="/pictures/Match.svg" alt="Dein Browser unterst端tz keine Bildfunktion"/>
        </a>
        <a href="/<%= locals.id %>/teammanagment" class = 'SidebarOptions'>
          <input type="image" src="/pictures/Team.svg" alt="Dein Browser unterst端tz keine Bildfunktion"/>
        </a>
        <a href="/<%= locals.id %>/packs" class = 'SidebarOptions'>
          <input type="image" src="/pictures/Packs.svg" alt="Dein Browser unterst端tz keine Bildfunktion"/>
        </a>
        <a href="/<%= locals.id %>/chat/<%= locals.uniqueId %>/" class = 'SidebarOptions'>
          <input type="image" src="/pictures/Chat.svg" alt="Dein Browser unterst端tz keine Bildfunktion"/>
        </a>
    </div>
</body>
</html>