<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Matchstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class = 'MatchContainer'>
        <div class = 'Game-box'>
            <div class = 'Game-board'>

                <div class="Teams">
                    <% locals.SavedTeamForMatch?.Team.map(Teams => { %>
                        <p> <%= Teams.Goalkeeper[0].PlayerName %> </p>
                        <%Teams.Defenders.map(Defender => {%> <p><%= Defender.PlayerName %></p><%})%> 
                        <%Teams.Midfield.map(Midfield => {%> <p><%= Midfield.PlayerName %></p> <%})%> 
                        <%Teams.Striker.map(Striker => {%> <p ><%= Striker.PlayerName %></p><%})%>
                   <% }) %>  
                </div>
                
                <div class="GameInfos">
                    <div class = 'Score'>
                        <h1 id="TeamScore">0</h1>
                        <h1 id="OpponendScore">0</h1>
                    </div>
                    <div class="Time">
                        <span><h1 id="minutes">00</h1> <h1>:</h1> <h1 id="seconds">00</h1></span>
                    </div>
                    <div class= 'SimulateButton'><button onclick="StartStopWatch()">Simulate</button></div>
                </div>
                
                <div id = 'OpponendTeam' class="Teams"></div>
            </div>
        </div>
        <%- include('_sidebar.ejs', {id: locals.id}) %> 
    </div>
</body>
<script>
    let minute = 00
    let second = 00
    let Teamscorevariable = 0
    let OpponendScorevariable = 0
    let interval
    const minutes = document.getElementById('minutes')
    const seconds = document.getElementById('seconds')
    const StartTimer = document.getElementById('StartTimer')
    const Teams = document.querySelector('.Teams')
    const TeamScore = document.getElementById('TeamScore')
    const OpponendScore = document.getElementById('OpponendScore')

    function StartStopWatch(){
        if(Teams.children.length === 0 ) return
        interval = setInterval(() => {
            second++
            if(second < 9) seconds.innerHTML = "0" + second
            if(second > 9) seconds.innerHTML = second
            if(second > 60) {
                minute++
                minutes.innerHTML = "0" + minute
                second = 0
                seconds.innerHTML = second
            }
            if(minute > 9) minutes.innerHTML = minute
            if(minute == 90) {
                clearInterval(interval)
                if(TeamScore.textContent > OpponendScore.textContent) return axios.post('/<%=locals.id%>/match', {WonCoins: 100})
            }
            
            // increase Score
            const increaseScore = Math.ceil((Math.random() * 1000))
            const increaseOpponendScore = Math.ceil((Math.random() * 1000))
            if(increaseScore == 5){
                Teamscorevariable++
                TeamScore.innerHTML = Teamscorevariable
            }
            if(increaseOpponendScore == 5){
                OpponendScorevariable++
                OpponendScore.innerHTML = OpponendScorevariable
            }
        })
    }

    const OpponendTeam = document.getElementById('OpponendTeam')
    const Goalkeeper = [
        {
            id: 1,
            name: 'Donnaruma'
        },
        {
            id: 2,
            name: 'Alisson'
        },
        {
            id:  3,
            name: 'Mendy'
        },
        {
            id: 4,
            name: 'Yashin'
        }
    ]

    const Leftback = [
        {
            id: 1,
            name: 'Robertson'
        },
        {
            id: 2,
            name: 'Davies'
        },
        {
            id: 3,
            name: 'Cancelo'
        },
        {
            id: 4,
            name: 'Hernandez'
        }
    ]

    const Centerback = [
        {
            id: 1,
            name: 'Ruben Dias'
        },
        {
            id: 1,
            name: 'Marquinhos'
        },
        {
            id: 1,
            name: 'Van Dijk'
        },
        {
            id: 1,
            name: 'Bonucci'
        }
    ]

    const Rightback = [
        {
            id: 1,
            name: 'Hakimi'
        },
        {
            id: 2,
            name: 'Alex Arnold'
        },
        {
            id: 3,
            name: 'Walker'
        },
        {
            id: 4,
            name: 'James'
        }
    ]

    const Center = [
        {
            id: 1,
            name: 'De Bruyne'
        },
        {
            id: 2,
            name: 'Kante'
        },
        {
            id: 3,
            name: 'Jorginho'
        },
        {
            id: 4,
            name: 'Ferndandes'
        },
        {
            id: 5,
            name: 'Kimmich'
        },
        {
            id: 6,
            name: 'Goretzka'
        }
    ]

    const LeftWinger = [
        {
            id: 1,
            name: 'Ronaldinho'
        },
        {
            id: 2,
            name: 'Neymar'
        },
        {
            id: 3,
            name: 'Mane'
        },
        {
            id: 4,
            name: 'Vinicius'
        }
    ]

    const Striker = [
        {
            id: 1,
            name: 'C. Ronaldo'
        },
        {
            id: 2,
            name: 'Lewandowski'
        },
        {
            id: 3,
            name: 'Mbappe'
        },
        {
            id: 4,
            name: 'Pele'
        }
    ]

    const RightWinger = [
        {
            id: 1,
            name: 'Messi'
        },
        {
            id: 2,
            name: 'Salah'
        },
        {
            id: 3,
            name: 'Sancho'
        },
        {
            id: 4,
            name: 'Garrincha'
        }
    ]

    const Team = [Goalkeeper[Math.floor(Math.random() * 4)].name,
                  Leftback[Math.floor(Math.random() * 4)].name,
                  Centerback[Math.floor(Math.random() * 6)].name,
                  Centerback[Math.floor(Math.random() * 6)].name,
                  Rightback[Math.floor(Math.random() * 4)].name,
                  Center[Math.floor(Math.random() * 6)].name,
                  Center[Math.floor(Math.random() * 6)].name,
                  Center[Math.floor(Math.random() * 6)].name,
                  LeftWinger[Math.floor(Math.random() * 4)].name,
                  Striker[Math.floor(Math.random() * 4)].name,
                  RightWinger[Math.floor(Math.random() * 4)].name]
    
    OpponendTeam.innerHTML = Team.map(team => {return '<p>' + team + '</p>'}).join('')

</script>
</html>